

<h3> A place to share recipes </h3>

<p>
“If you really want to make a friend, go to someone’s house and eat with him… The people who give you their food give you their heart.”

Cesar Chavez
</p>

 <%= link_to 'All Dishes', dishes_path %>