

<h3> Trending Recipes </h3>
<p> Try some heartwarming, inspiring recipes!  </p>


 <!-- new form - to post a recipe -->


 <!-- list of dishes z-->
 <!-- TO DO!!!: clickable thumnail to show page -->

<ul>
    <% @dishes.each do |dish| %>
    <li>
        <%= link_to dish.name, dish_path(dish.id) %>
    </li>
    <% end%>

</ul>

