

<h3> Trending Recipes </h3>
<p> Try some heartwarming, inspiring recipes!  </p>

 
<%# <% @dishes.all[-4..-1].each do |dish| %> 

<div class= "dishes-container">
        <% @dishes.all.each do |dish| %>
                <div >
                    <%= link_to dish_path(dish.id) do %>
                        <%= image_tag dish.image, class: "dish-show-thumbnail" %>
                    <br>
                    <% end %>
                    <%= dish.name %>
                </div>
        <% end %>
</div>




 <!-- list of dishes by categories -->
    <!--
    @dishes.sort is sorting by the dish random id/string and it doesnt work by getting the latest 4 dishes
    @dishes.all means getting all dishes in the list and retrieving the last four dishes
    [
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508
    ]
    -->

