

<h3> Trending Recipes </h3>
<p> Try some heartwarming, inspiring recipes!  </p>


 <!-- new form - to post a recipe -->
 <%= link_to 'Publish Recipe', new_dish_path %>


 <!-- list of dishes by categories -->


<ul>
    <!--
    @dishes.sort is sorting by the dish random id/string and it doesnt work by getting the latest 4 dishes
    @dishes.all means getting all dishes in the list and retrieving the last four dishes
    [
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508,
        <Dish:0x000000015c2b6508
    ]
    -->
    <% @dishes.all[-4..-1].each do |dish| %>
        <li>
            <%= link_to dish_path(dish.id) do %>
                <%= image_tag dish.image, class: "dish_thumbnail" %>
            <br>
            <% end %>
            <%= dish.name %>
        </li> 
    <% end %>

</ul>
