

<h3> Trending Recipes </h3>
<p> Try some heartwarming, inspiring recipes!  </p>


 <!-- new form - to post a recipe -->
 <%= link_to 'Publish Recipe', new_dish_path %>


 <!-- list of dishes z-->
 <!-- TO DO!!!: clickable thumnail to show page -->

<ul>
    <% @dishes.each do |dish| %>
    <li>
        <%= link_to dish_path(dish.id) do %>
        <%= image_tag dish.image, class: "dish_thumbnail" %>
        <br>
        <% end%>
        <%= dish.name %>
    </li> 
    <% end%>

</ul>

