@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

 

 /*change the CSS :visited pseudo class. */


.error-message{
    font-family: 'Raleway', sans-serif;
    color: brown;
}

.success-message{
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 99, 28);
}

.field_with_errors input {
   border: 2px solid red;
}

a:visited { 
 text-decoration: none; 
 
}
a{
text-decoration: none;
color: #000000
}

/*this is for title */
a.brand{
    color:white;
}

/* mouse over link */
a:hover {
  color: #374452;
  font-weight: bold;
}

/* selected link */
a:active {
  color: #585d62;
} 


.user-login-name{
    font-weight: bold;
    font-size: 20px;
}


nav{
    background-color:#E1CD75;
    
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.4);
    color: #000000;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

p{
   font-family: 'Josefin Sans', sans-serif;
}

.dish_thumbnail{
    width: 20%;
    border-radius: 30px ;
}

ul{
   list-style-type: none;
}
#quote{
    font-size: 40px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
    text-align: justify;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.4);
}

.quote-container{
    position: relative;
}
.cover-image{
    max-width:100%;
    max-height:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.artwork{
    width: 40%;
    border-radius: 30px ;
}

.user-thumbnail{
    width:5%;
    border-radius:50%;
}

.recipebook_thumbnail{
    width:20vw;
    border-radius: 30px ;
}



/* div{
    border: 2px solid rgb(78, 78, 78);
} */

.category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.category_thumbnail {
    width: 100%;
    border-radius: 30px;
    box-shadow: 16px 7px 8px rgba(0, 0, 0, 0.3);
}
body{
    width: 80%;
    margin: 0 auto;
}