@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

 

 /*change the CSS :visited pseudo class. */


.error-message{
    font-family: 'Josefin Sans', sans-serif;
    color: #ff6c00;
}

.success-message{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 99, 28);
}

.field_with_errors input {
   border: 2px solid red;
}

a:visited { 
 text-decoration: none; 
 
}
a{
    text-decoration: none;
    color:#ffd000;
}

/*this is for title */
a.brand{
    color:rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: #374452;
  font-weight: bold;
}

/* selected link */
a:active {
  color: #585d62;
} 


.user-login-name{
    font-weight: bold;
    font-size: 20px;
}


nav{
    /* background-color:#E1CD75;
    background-color:#FFDCA2;
    background-color:#ffd90070; */
    /* background-color:black; */
    background-color: #6c6a6a;
    position: relative;
    
}
.nav{
    margin-bottom: 0px;
    
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.user-login{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 125px;
    text-align: center;
    padding-right: 50px;

}

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    background-color: #ececec;
}

main{
    width: 80%;
    margin: 0 auto;
}


h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-shadow: 3px 5px rgba(8, 8, 8, 0.4);
    margin-top: 0 ;
    margin-left: 200px;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-top: 0px;
   
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color:#171C2D;
    margin-bottom: 20px;
    margin-top: 20px;

}

h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#171C2D;
}

p{
   font-family: 'Josefin Sans', sans-serif;
   color:#171C2D;
}

.dish-thumbnail{
    width: 20%;
    border-radius: 30px ;
    box-shadow: 10px 7px 8px rgba(0, 0, 0, 0.5);
}

ul{
   list-style-type: none;
   color:#171C2D;
}

#quote{
    font-size: 40px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
    text-align: justify;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.9);
}

.quote-container{
    position: relative;
}

.quote-image{
    max-width:100%;
    max-height:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px ;
    
}

.youtube-frame{
    border-radius: 30px ;
    /* background-color:#fee6a3; */
    background-image: url("youtube.jpeg");
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative
}
.youtube{
    margin: 0 auto;
    display: block;
}
.youtube-title{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color:#ffe4a5;
    margin-right: 10px;
    margin-top: 0px;
    margin-left: 50px;
    display: inline-block;
    text-shadow: 4px 2px 4px rgb(96, 67, 1);
    margin-bottom: 10px;

}

.artwork{
    width: 40%;
    border-radius: 30px ;
}

.user-thumbnail{
    width:5%;
    border-radius:50%;
}

.recipebook_thumbnail{
    width:20vw;
    border-radius: 30px ;
}


.category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.category_thumbnail {
    width: 100%;
    border-radius: 30px;
    box-shadow: 10px 7px 8px rgba(0, 0, 0, 0.5);
}


.button:hover {
    background: #986c7b;
    color: #fff;
    cursor: pointer;
}


.button {
    width: 100px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 10px;
    background: #fdce00;
    border: 0;
    border-radius: 30px;
    outline: none;
    box-shadow: 2px 3px 8px 2px #9f3105;
    margin: 0 auto;
}



/* show page */


.profile{
    background-color:white,
}

.comments-container{
    background-color:white;
}

/* recipebook show */
.recipebook-container{
    position: relative;
}

.recipebook-cover-image{
    max-width:100%;
    max-height:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px ;
}

.recipebook-name{
    font-size: 15px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
    text-align: justify;
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.9);
}

/* dishes index page */

.dishes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.category_thumbnail {
    width: 100%;
    border-radius: 30px;
    box-shadow: 10px 7px 8px rgba(0, 0, 0, 0.5);
}


/* user profile */

.user-image{
    max-width: 30%;
    border-radius: 30px;
    box-shadow: 10px 7px 8px rgba(0, 0, 0, 0.5);
}

div{
    border: 2px solid rgb(78, 78, 78);
}

