.field_with_errors input {
   border: 2px solid red;
}

.dish_thumbnail{
    width: 25%;
}

ul{
   list-style-type: none;
}


.artwork{
    width: 40%;
}

.user-thumbnail{
    width:5%;
    border-radius:50%;
}