<h1><%= @category.name %></h1>

<div>
    <% @category.dishes.each do |dish| %>
        <div>
            <%= link_to dish_path(dish.id) do %>
                <div>
                <%= image_tag dish.image, class: "dish-thumbnail", alt: dish.name %>
                </div>
            <br>
            <% end %>
            <div>
            <%= dish.name %>
            </div>
       </div>
    <% end %>
</div>
