<h1><%= @category.name %></h1>

<ul>
    <% @category.dishes.each do |dish| %>
        <li>
            <%= link_to dish_path(dish.id) do %>
                <%= image_tag dish.image, class: "dish_thumbnail", alt: dish.name %>
            <br>
            <% end %>
            <%= dish.name %>
           
        </li> 
    <% end %>

</ul>