<h2><%= @category.name %></h2>

<div class= "dishes-container">
    <% @category.dishes.each do |dish| %>
        <div>
            <%= link_to dish_path(dish.id) do %>
                <%= image_tag dish.image, class: "dish-show-thumbnail", alt: dish.name %>
                <h5> <%= dish.name %></h5>
                <br>
            <% end %>
       </div>
    <% end %>
</div>
